/* Registro.css */

/* Contenedor principal */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Espacio entre elementos */
  max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centrar el contenido */
  padding: 20px; /* Espacio interno */
}

/* Estilo para cada elemento del formulario */
.container > * {
  grid-column: span 3; /* Ocupa las 3 columnas */
  margin-bottom: 15px; /* Espacio entre elementos */
}

/* Estilo específico para el botón */
.container .button-container {
  grid-column: span 3; /* Ocupa las 3 columnas */
  text-align: center; /* Centrar el botón */
}

/* Estilo para la imagen */
.container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Estilo para los encabezados h1 y h6 */
h1, h6 {
  text-align: center;
}

/* Otros estilos, como los estilos para los inputs, desplegables, etc., aquí */

img {
  width: 450px;
  height: 250px;
  margin-left: 70%;
}